@if (isLoading) {
  <p style="color: blue; font-weight: bold;">Loading...</p>
} 
@if (errorMessage) {
  <p style="color: red; font-weight: bold;">{{ errorMessage }}</p>
  <a routerLink="/airplanes">← Back to list</a>
} 
@if (airplane) {
  <p><strong>Tail Number:</strong> {{ airplane.tailNumber | tailNumber }}</p>
  <p><strong>Modell:</strong> {{ airplane.model }}</p>
  <p><strong>Manufacturer:</strong> {{ airplane.manufacturer }}</p>
  <p><strong>Capacity:</strong> {{ airplane.capacity }} seats</p>
  <p><strong>Status:</strong> {{ airplane.status }}</p>
  <p><strong>Maintenance Status:</strong> {{ airplane.flightsSinceLastMaintenance }} / {{ airplane.maintenanceIntervalFlights }} flights</p>
  <app-maintenance-status-bar 
    [interval]="airplane.maintenanceIntervalFlights"
    [currentFlights]="airplane.flightsSinceLastMaintenance"
    [status]="airplane.status"
    (flightAdded)="onFlightAdded()">
  </app-maintenance-status-bar>
  <br>
  <div style="margin-top: 20px; margin-bottom: 20px;">
    <button [routerLink]="['/airplanes', airplane.id, 'edit']" style="padding: 8px 15px; background-color: #ff9800; color: white; border: none; cursor: pointer;">
      Edit
    </button>
  </div>
  <a routerLink="/airplanes">← Back to list</a>

} @else {
  <a routerLink="/airplanes">← Back to list</a>
}