<div style="margin-bottom: 20px;">
  <button routerLink="/airplanes/new" style="padding: 10px; background-color: #4caf50; color: white; border: none; cursor: pointer;">
    + New Plane
  </button>
</div>
<div style="background: #eee; padding: 10px; margin-bottom: 10px; font-family: monospace;">
  DEBUG: isLoading = {{ isLoading }}, Repülők száma = {{ airplanes.length }}
</div>

@if (isLoading) {
  <p style="color: blue; font-weight: bold;">Loading...</p>
} 

@if (!isLoading && errorMessage) {
  <p style="color: red; font-weight: bold;">{{ errorMessage }}</p>
} 

@if (!isLoading && !errorMessage && airplanes.length === 0) {
  <p>No planes</p>
} 
@if(!isLoading && !errorMessage && airplanes.length > 0) {
  <table border="1" cellpadding="8" style="border-collapse: collapse; width: 100%; max-width: 600px;">
    <thead>
      <tr>
        <th style="text-align: left;">Tail Number</th>
        <th style="text-align: left;">Model</th>
        <th style="text-align: left;">Manufacturer</th>
      </tr>
    </thead>
    <tbody>
        @for (plane of airplanes; track plane.id){
        <tr [ngClass]="{'maintenance-row': plane.status === 'maintenance'}">
          <td><a [routerLink]="['/airplanes', plane.id]" style="color: blue; text-decoration: underline; cursor: pointer;">
                {{ plane.tailNumber | tailNumber }}
              </a>
          </td>
          <td>{{ plane.model }}</td>
          <td>{{ plane.manufacturer }}</td>
        </tr>
        }
    </tbody>
  </table>
}

